In [5]:
ironMan=int(input("Age of the person:"))
if(ironMan==18):
    print("Hero")

Age of the person: 18

Hero

In [18]:
flower=int(input("Cost of Flower Jasmin:"))
flower2=int(input("Cost of Flower Rose:"))
flower3=int(input("Clost of Flower Lilly:"))
if (flower == 30 and flower2 == 50 and flower3 == 20): 
    print("Buy") 
else: 
    print("Don't Buy")

Cost of Flower Jasmin: 40
Cost of Flower Rose: 50
Clost of Flower Lilly: 20

Don't Buy

In [20]:
human=int(input("The Age of people:"))
if(human<=18):
    print("children")
else:
    print("Adult")

The Age of people: 15

children

In [4]:
#for loop
lists=[50,20,40,30,60,10,44,50]
for marks in lists:
    if(marks<35):
        print("Fail")
    elif(marks<50):
        print("Average")
    elif(marks<80):
        print("Good")
    else:
        print("Excellent")

Good
Fail
Average
Fail
Good
Fail
Average
Good

In [6]:
num=int(input("The Value is:"))
if((num%2)==1):
    print("Odd number")
else:
    print("Even number")

The Value is: 13

Odd number

In [14]:
num2=int(input("The value is:"))
if((num2%2)==0):
    print("Even number")
else:
    print("Odd number")

The value is: 134

Even number

In [16]:
for num in range(0,100,5):
    print(num)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [5]:
lists=[13,19,55,23,40,50,33,48]
def avengers():
    for teams in lists:
        if(teams<20):
            print("Spiderman")
        elif(teams<30):
            print("Ironman")
        elif(teams<40):
            print("Superman")
        elif(teams<50):
            print("Hulk")
        else:
            print("Antman")
avengers()

Spiderman
Spiderman
Antman
Ironman
Hulk
Antman
Superman
Hulk

In [6]:
lists=[103,345,358,590,432,780,890,500]
def travel():
    for km in lists:
        if(km<200):
            print("Madurai")
        elif(km<400):
            print("Trichy")
        elif(km<600):
            print("Chennai")
        else:
            print("Other States")
travel()

Madurai
Trichy
Trichy
Chennai
Chennai
Other States
Other States
Chennai

In [7]:
lists=[50,80,140,60,20,30,110]
def speed():
    for log in lists:
        if(log<30):
            print("Special Gift")
        elif(log<50):
            print("Congrats")
        elif(log<80):
            print("Go Slow")
        else:
            print("very slow")
speed()

Go Slow
very slow
very slow
Go Slow
Special Gift
Congrats
very slow

In [10]:
lists=[13,19,55,23,40,50,33,48]
def avengers():
    for teams in lists:
        if(teams<20):
            print("Spiderman")
            hero="Spiderman"
        elif(teams<30):
            print("Ironman")
            hero="Ironman"
        elif(teams<40):
            print("Superman")
            hero="Superman"
        elif(teams<50):
            print("Hulk")
            hero="Hulk"
        else:
            print("Antman")
            hero="Antman"
        return hero
avengers()

Spiderman

'Spiderman'

In [11]:
aven=avengers()

Spiderman

In [13]:
value=int(input("Enter the Credit score:"))
def score():
        if(value<250):
            print("Bad level")
            terms="Bad level"
        elif(value<500):
            print("Average")
            terms="Average"
        elif(value<750):
            print("Good")
            terms="Good"
        else:
            print("Excellent")
            terms="Excellent"
score()

Enter the Credit score: 340

Average

In [15]:
value=int(input("Enter the Credit score:"))
score()

Enter the Credit score: 650

Good

In [19]:
ai=["Machine Learning","Neural Networks","Vision","ROBOTICS","SPEECH PROCESSING","Natural Language Processing"]
def learning():
    print("Sub-fields in AI are:")
    for interest in ai:
        print(interest)
learning()

Sub-fields in AI are:
Machine Learning
Neural Networks
Vision
ROBOTICS
SPEECH PROCESSING
Natural Language Processing

In [20]:
hope=learning()

Sub-fields in AI are:
Machine Learning
Neural Networks
Vision
ROBOTICS
SPEECH PROCESSING
Natural Language Processing

In [28]:
ran=int(input("Enter a number:"))
def number():
        if((ran%2)==0):
            print(ran,"is Even number")
            result=(ran,"is Even number")
        else:
            print(ran,"is Odd number")
            result=(ran,"is Odd number")
number()

Enter a number: 52452

52452 is Even number

In [30]:
value=number()

52452 is Even number

In [45]:
person=input("Your Gender:")
age=int(input("Your Age:"))
def marriage():
    if person=="male" and age<=21:
        print("NOT ELIGIBLE")
    elif person=="male" and age>21:
        print("ELIGIBLE")
    elif person=="female" and age<=18:
        print("NOT ELIGIBLE")
    else:
        print("ELIGIBLE")
marriage()

Your Gender: male
Your Age: 27

ELIGIBLE

In [56]:
sub1=int(input("Subject1="))
sub2=int(input("Subject1="))
sub3=int(input("Subject1="))
sub4=int(input("Subject1="))
sub5=int(input("Subject1="))
sub6=5
add=sub1+sub2+sub3+sub4+sub5
div=add/sub6
def total():
    print("Total Marks:",add)
    print("Precntage:",div)
total()

Subject1= 98
Subject1= 87
Subject1= 95
Subject1= 95
Subject1= 93

Total Marks: 468
Precntage: 93.6

In [61]:
h=int(input("Height="))
b=int(input("Breadth="))
areaformula=(h*b)/2
print("Area Formula: (Height*Breadth)/2:")
print("Area of Triangle:",areaformula)
h1=int(input("Height1:"))
h2=int(input("Height2:"))
h3=int(input("Breadth:"))
print("Perimeter formula:","h1+h2+h3")
add=h1+h2+h3
print("Perimeter of Triangle:",add)

Height= 32
Breadth= 34

Area Formula: (Height*Breadth)/2:
Area of Triangle: 544.0

Height1: 2
Height2: 4
Breadth: 4

Perimeter formula: h1+h2+h3
Perimeter of Triangle: 10