In [5]:
ironMan=int(input("Age of the person:"))
if(ironMan==18):
    print("Hero")

Age of the person: 18

Hero

In [18]:
flower=int(input("Cost of Flower Jasmin:"))
flower2=int(input("Cost of Flower Rose:"))
flower3=int(input("Clost of Flower Lilly:"))
if (flower == 30 and flower2 == 50 and flower3 == 20): 
    print("Buy") 
else: 
    print("Don't Buy")

Cost of Flower Jasmin: 40
Cost of Flower Rose: 50
Clost of Flower Lilly: 20

Don't Buy

In [20]:
human=int(input("The Age of people:"))
if(human<=18):
    print("children")
else:
    print("Adult")

The Age of people: 15

children

In [4]:
#for loop
lists=[50,20,40,30,60,10,44,50]
for marks in lists:
    if(marks<35):
        print("Fail")
    elif(marks<50):
        print("Average")
    elif(marks<80):
        print("Good")
    else:
        print("Excellent")

Good
Fail
Average
Fail
Good
Fail
Average
Good

In [6]:
num=int(input("The Value is:"))
if((num%2)==1):
    print("Odd number")
else:
    print("Even number")

The Value is: 13

Odd number

In [14]:
num2=int(input("The value is:"))
if((num2%2)==0):
    print("Even number")
else:
    print("Odd number")

The value is: 134

Even number

In [16]:
for num in range(0,100,5):
    print(num)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95